@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

h1 {
    text-align: center;
}

.nav-bar {
    display: block;
    background-color: lightgray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

li {
    display: inline-block;
    font-size: x-small;
    padding: 5px;
    color: gray;
    
}
.newspaper-container {
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 10px, lightgray;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Roboto Slab';
    box-shadow: 5px 5px gray;
}

body {
    width: 700px;
    box-shadow: 5px;
    background-color: white;
    margin: auto;
}

html {
    background-color: lightgray;
    margin-left: 2em;
}