@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

h1 {
    text-align: center;
    font-family: "Abril Fatface";
}
/* created an ID to define the syntax and styling*/
.nav-bar {
    display: block;
    background-color: lightgray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

/* make the nav bar horizontal */

li {
    display: inline-block;
    font-size: x-small;
    padding: 5px;
    color: #777;
    
}

/* add styling for the fonts padding and borders*/


.newspaper-container {
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 10px, lightgray;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Roboto Slab';
    box-shadow: 5px 5px #ddd;
}

body {
    width: 700px;
    box-shadow: 5px;
    background-color: white;
    margin: auto;
    color: black;
    font-family: "Source Sans Pro"
}

/* coloring of the margins and background */

html {
    background-color: lightgray;
    margin-left: 2em;
}